include mixins/base
extends layout

block content
    +form("post", "/manager/" + password.password_id)
        .pretty.p-switch.p-fill.form-checkbox.p-pulse
            input(name="isFavorite" type='checkbox' value=1 checked=password.is_fav)
            .state.p-success
                label.form-text Favoris
        br
        br
        .form-group
            label(for='website') Nom du site-web
            input#website(name="website" type='text' placeholder='Ex: Facebook' value=password.web_site).form-control.inputPassword
        .form-group
            label(for='password') Mot de passe
            .input-group
                input#password(name="password" type='text' placeholder='Ex: Omega123' value=password.password_content).form-control.inputPassword
                .input-group-prepend
                    button#generate(type='button' value='Generate' tabindex='2').btn.btn-outline-secondary.inputButton Générer
        .form-group
            label(for='sharedUser') Partager avec
            select#sharedUser(name="sharedUser" placeholder='Ex: Facebook').custom-select.inputPassword
                option(value="" disabled selected) Selectionner une personne
                each user in users
                    option(value=user.user_id)=user.firstname + " " + user.lastname

        br

        button(type='submit').btn.btn-success Sauvegarder